.header {
    display: flex;
    justify-content: space-between;
    margin: 28px 48px 0;
}

@media screen and (max-width: 768px) {
    .header {
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 632px) {
    .header {
        margin-top: 16px;
        margin-right: 16px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}
