@media (min-width: 768px) and (max-width: 1024px) {
    .places__item {
        margin-bottom: 76px;
    }
}

@media (max-width: 2000px) {
    .places__item {
        margin-bottom: 82px;
    }
}

@media (max-width: 320px) {
    .places__item {
        margin-bottom: 50px;
    }
}
